<div class="container">
  <div class="content">
    <div class="content_rgt">
    <div class="register_sec">
    <h1>Create An Account</h1>
    <ul>
    <li><span>Username</span><input type="text" placeholder="Enter your username" ng-model="userName"></li>
    <li><span>Password</span><input type="password" placeholder="Enter your password" ng-model="password"></li>
    <li><span>Email</span><input type="text" placeholder="Enter your email" ng-model="email"></li>
    <li><span>First Name</span><input type="text" placeholder="Enter your first name" ng-model="fName"></li>
    <li><span>Last Name</span><input type="text" placeholder="Enter your last name" ng-model="lName"></li>
    <li><span>Sex:</span><input type="radio" name="gender" value="Male" ng-model="sex"> Male &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="Female" ng-model="sex"> Female&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="Other" ng-model="sex"> Other</li>
     <li><span>Description</span><input type="text" placeholder="Describe Yourself" ng-model="description"></li>
    <li><input type="checkbox" ng-model="agree">I agree to Term & Conditions</li>
    <li><input type="submit" value="Register" ng-click="register()"></li>
    <li><span>{{show}}</span></li>
    </ul>
    <div class="addtnal_acnt">I already have an account.<a ui-sref="login">Login My Account !</a></div>
    </div>
    
    </div>
    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    <img src="images/img_9.png"  alt=""/> </div>
  </div>
</div>
<div class="clear"></div>
</div>
